/BtreeFile/obj
/DemoApp/obj/Debug/netcoreapp3.1
/DemoApp/obj
/SequencialFile/obj/Debug/netcoreapp3.1
/SequencialFile/obj
/WinFormsApp1/obj/Debug/netcoreapp3.1
/XUnitTestProject1/obj/Debug/netcoreapp3.1
/XUnitTestProject1/obj
/WinFormsApp1/obj
/.vs
/SequencialFile/bin/Debug/netcoreapp3.1
/BtreeFile/bin/Debug/netcoreapp3.1
